h1 {
    background-color: black;
    color: white;
    padding-left: 10px;
    font-size: 40px;
  }

ul {
    font-size: 23px;
    padding-left: 20px;
    margin: 40px 0 0 0;
    list-style-type: circle;
  }


.content {
   margin-left: 20px;
  }

h2 {
    font-size: 30px;
    margin: 40px 0;
    background-color: black;
    color: white;
    padding-left: 10px;
   }

p {
    font-size: 20px;
   }

.links {
    margin-bottom: 50px;
   }